/*-------- Algemene css --------*/
* {
    box-sizing: border-box;
    line-height: 140%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

html {
    background: #fff;
    color: #333;
    font-size: 1.2em;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

li{
    list-style-type: none;
}

body > main > article > header > p:nth-of-type(1):first-letter {
    font-size: 2em;
}

/* unvisited link */
a:link { /*Pseudo class*/
    color: #3A9DBF;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #3A9DBF;
}

/* mouse over link */
a:hover {
    color: #3A9DBF;
}

/* selected link */
a:active {
    color: #3A9DBF;
}





/*-------- Header + Flexbox --------*/
body > header{ /*Sibling combinator*/
    align-items: stretch;
    background: #48484C;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    order: -1;
    position: fixed;
    width: 20%;
}

#placeHolder{
    display: block;
    order: 0;
    width: 20%;
}

body > header > p{
    text-align: center;
    font-size: 80%;
}

body > header > form{
    margin: auto;
    display: block;
    order: 5;
}

body > header > nav{
    margin: auto;
    order: 3;
}

body > header > h1{
    font-size: 1.4em;
    text-align: center;
    text-shadow:0 0 .1em white, 0 0 .4em white; /*Text-shadow*/
     -webkit-text-shadow:0 0 .1em white, 0 0 .4em white;
        -moz-text-shadow:0 0 .1em white, 0 0 .4em white;
    width: 100%;
}

body > header > nav > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

body > header > nav > ul > li{
    width: 100%;
}

body > header > nav > ul > li > a{
    display: block;
    height: 2em;
    line-height: 2em;
    width: 100%;
    opacity: 0.6;
}

body > header > nav > ul > li > a:hover{
    background: #303033;
    opacity: 1;
    box-shadow: inset 0 0 0.2rem black;
    -webkit-box-shadow: inset 0 0 0.2rem black;
    -moz-box-shadow: inset 0 0 0.2rem black;
}

.headerImage {
    margin: auto;
    max-width: 90%;
    order: -1;
    transition: 0.5s; /*Transition*/
}

.headerImage:hover{
    transform: rotate(10deg); /*Transform*/
    transition: 0.5s; /*Transition*/
}

.active{
    background: #303033;
    opacity: 1;
    box-shadow: inset 0 0 0.2rem black;
    -webkit-box-shadow: inset 0 0 0.2rem black;
    -moz-box-shadow: inset 0 0 0.2rem black;
}

.to-profile{
    width: 100%;
    order: 4;
}

a[href="#Elena"]{ /*Attribute selector*/
    color: #E0BE37;
    margin-right: 1rem;
    display: block;
    line-height: 2em;
    width: 100%;
    opacity: 0.6;

}
a[href="#Elena"]:hover{
    background: #303033;
    opacity: 1;
    box-shadow: inset 0 0 0.2rem black;
    -webkit-box-shadow: inset 0 0 0.2rem black;
    -moz-box-shadow: inset 0 0 0.2rem black;
}



/*-------- Hoofdcontent: Main + aside + related (incl flexbox) --------*/
body > main{
    margin: auto;
    order: 1;
    padding: 2rem;
    width: 60%;
}

body > main > article > header, body > main > article > footer, body > main > article > section{
    margin-bottom: 2rem;
}

body > main > article > header > p, body > main > article > section > p{
    margin-bottom: 1rem;
}

picture > img{
    max-width: 100%;
}

main p{
    max-width: 40em;
}

aside{
    background: #DBB34D;
    box-shadow: inset 0 0 15px #1D3042;
    -webkit-box-shadow: inset 0 0 15px #1D3042;
    -moz-box-shadow: inset 0 0 15px #1D3042;
    font-size: 80%;
    order: 2;
    padding: 1rem;
    width: 20%;
}

aside > section > article{
    border-top: dotted white 0.1rem;
    margin-top: 1rem;
    padding-top: 1rem;
}

aside h2{
    margin-top: 1rem;
}

.related{
    background: #DA9383;
    box-shadow: inset 0 0 15px #1D3042;
    -webkit-box-shadow: inset 0 0 15px #1D3042;
    -moz-box-shadow: inset 0 0 15px #1D3042;
    display: flex;
    flex-wrap: wrap;
    font-size: 80%;
    justify-content:space-around;
    margin-left: 20%;
    order: 3;
    width: 100%;
}

.related > h2{
    text-align: center;
    width: 100%;
}

.related > article{
    width: 19%;
}

#videoSize{
    margin: 2rem auto auto auto;
    max-width: 100%;
}

/*-------- Footer + Flexbox --------*/

body > footer{
    background: #3F495F;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 20%;
    order: 4;
    width: 100%;
}

#sitemap > h2{
    text-align: center;
}

#sitemap > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#sitemap > ul > li > a, #sitemap > ul > li > ul > li > a{
    opacity: 0.6;
}

#sitemap > ul > li > a:hover, #sitemap > ul > li > ul > li > a:hover{
    opacity: 1;
}

#contact, #feedback, #search, #about{
    border-bottom: dotted white 0.2rem;
    margin: 1rem auto 1rem auto;
    padding: 1rem;
    width: 50%;
}

#feedback{
    order: 1;
}

#search{
    order: 2;
}

#about{
    order: 3;
}

#contact{
    order: 3;
}

#sitemap{
    margin: 1rem auto 1rem auto;
    order: 4;
    padding: 1rem;
    width: 90%;
}

#credits{
    margin-top: 2rem;
    order: 6;
    padding: 1rem;
    text-align: center;
    width: 90%;
}

a[href="#feedback"]{ /*Attribute selector*/
    color: #DBB34D;
}

/* Hide and show Aside (with JS) */

#exit, #backAside{
    cursor: pointer;
    float: right;
    max-width: 1rem;
}

.backAsideView{
    display: none;
}

.mystyle{
    display: none;
}



/*--------Media Queries--------*/

/*--------Breakpoint Tablet Size--------*/
@media only screen and (max-width: 1024px){
    html{
        font-size: 1.1em;
    }

    body > header{
        border-bottom-left-radius: 5em; /*Border-radius*/
        position: relative;
        width: 100%;
    }

    #placeHolder{
        display: none;
    }

    body > header > p:nth-child(2){
        display: none;
    }

    body > header > nav > ul > li{
        width: 11em;
    }

    body > header > nav > ul > li > a{
        opacity: 1;
    }

    .headerImage{
        max-width: 40%;
    }

    .to-profile{
        width: 50%;
    }

    body > header > form{
        width: 50%;
    }

    body > main{
        padding: 0.5rem;
        width: 70%;
    }

    body > main > article > section > img{
        margin: 0.5rem;
    }

    aside{
        padding: 0.5rem;
        width: 30%;
    }

    .related{
        margin: 0;
    }

    .related > article{
        width: 30%;
    }

    body > footer{
        margin: 0;
    }

    #sitemap > ul > li > a, #sitemap > ul > li > ul > li > a{
        opacity: 1;
    }
}



/*--------Breakpoint Smartphone Size--------*/
@media only screen and (max-width: 667px){
    html{
        font-size: 1em;
    }

    headerImage{
        max-width: 20em;
    }

    body > header{
        border-bottom-left-radius: 0; /*Border-radius*/
        width: 100%;
    }

    body > header > nav{
        margin: 0;
        width: 100%;
    }

    body > header > nav > ul{
        width: 100%;
    }

    body > header > nav > ul > li{
        width: 100%;
    }

    body > header > h1, body > header > p{
        display: none;
    }

    .to-profile{
        width: 100%;
    }

    body > header > form{
        width: auto;
    }

    body > main, .related{
        padding: 1rem;
    }

    body > main, body > aside, .related{
        width: 100%;
    }

    body > main > article > section > img{
        margin: auto;
    }

    body > aside{
        display: none;
    }

    .related > article{
        margin-bottom: 2rem;
        width: 100%;
    }

    #feedback, #about, #search{
        display: none;
    }

    #contact, #sitemap{
        width: 100%;
    }

    #sitemap > ul{
        justify-content: space-between;
    }
    #backAside{
        display: none;
    }
}





















