/*-------- Algemene css --------*/
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    line-height: 140%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

html {
    background: #fff;
    color: #333;
    font-size: 1.2em;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

li{
    list-style-type: none;
}

body > main > article > header > p:nth-of-type(1):first-letter {
    font-size: 2em;
}

/* unvisited link */
a:link { /*Pseudo class*/
    color: #3A9DBF;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #3A9DBF;
}

/* mouse over link */
a:hover {
    color: #3A9DBF;
}

/* selected link */
a:active {
    color: #3A9DBF;
}





/*-------- Header + Flexbox --------*/
body > header{ /*Sibling combinator*/
    align-items: stretch;
    background: #ffcc00;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    order: -1;
    position: fixed;
    width: 20%;
}

#placeHolder{
    display: block;
    order: 0;
    width: 20%;
}

body > header > p{
    font-size: 80%;
    text-align: center;
}

body > header > form{
    display: block;
    margin: auto;
    order: 5;
}

body > header > nav{
    margin: auto;
    order: 3;
}

body > header > h1{
    font-size: 1.4em;
    text-align: center;
    text-shadow:0 0 .1em #333, 0 0 .4em #333; /*Text-shadow*/
     -webkit-text-shadow:0 0 .1em #333, 0 0 .4em #333;
        -moz-text-shadow:0 0 .1em #333, 0 0 .4em #333;
    width: 100%;
}

body > header > nav > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

body > header > nav > ul > li{
    width: 100%;
}

body > header > nav > ul > li > a{
    display: block;
    height: 2em;
    line-height: 2em;
    opacity: 0.6;
    width: 100%;
}

body > header > nav > ul > li > a:hover{
    background: #EBBC00;
    -webkit-box-shadow: inset 0 0 0.2rem black;
    -moz-box-shadow: inset 0 0 0.2rem black;
    box-shadow: inset 0 0 0.2rem black; /*Box Shadow*/
    opacity: 1;
}

.headerImage {
    margin: auto;
    max-width: 90%;
    order: -1;
    transition: 0.5s; /*Transition*/
}

.headerImage:hover{
    transform: rotate(10deg); /*Transform*/
    transition: 0.5s; /*Transition*/
}

.active{
    background: #EBBC00;
    -webkit-box-shadow: inset 0 0 0.2rem black;
    -moz-box-shadow: inset 0 0 0.2rem black;
    box-shadow: inset 0 0 0.2rem black;
    opacity: 1;
}

.to-profile{
    order: 4;
    width: 100%;
}

a[href="#Elena"]{ /*Attribute selector*/
    color: red;
    display: block;
    line-height: 2em;
    margin-right: 1rem;
    opacity: 0.6;
    width: 100%;
}
a[href="#Elena"]:hover{
    background: #EBBC00;
    -webkit-box-shadow: inset 0 0 0.2rem black;
    -moz-box-shadow: inset 0 0 0.2rem black;
    box-shadow: inset 0 0 0.2rem black;
    opacity: 1;
}



/*-------- Hoofdcontent: Main + aside + related (incl flexbox) --------*/
body > main{
    margin: 0;
    order: 1;
    width: 60%;
}

main p{
    max-width: 40em;
    padding: 1rem;
}

main h1{
    padding-left: 1rem;
    padding-top: 2rem;
}


main form{
    background: #57595D;
    border-radius: 2rem; /*Border-radius*/
    color: #fff;
    margin: 2rem auto 2rem auto;
    width: 70%;
}

picture > img{
    max-width: 100%;
}

input:focus, textarea:focus{
    background: #A1E08F;
}

main > form > input{
    display: block;
    margin: 1rem auto 1rem auto;
}

form fieldset{
    border: 0;
    padding: 1rem;
    position: relative;
}

form label{
    display: block;
    margin-bottom: 0.5rem;
    text-align: right;
    width: 80%;
}


label > input, label > textarea{
    float: right;
    margin-left: 1rem;
}

form > fieldset:hover{
    background: #7C8085;
    transition: 0.8s;
}

legend{
    border-bottom: 1px #fff dotted;
    position: relative;
    top: 1rem;
    width: 100%;
}

aside{
    background: #C3C7C5;
    -webkit-box-shadow: inset 0 0 15px #1D3042;
    -moz-box-shadow: inset 0 0 15px #1D3042;
    box-shadow: inset 0 0 15px #1D3042;
    color: #333;
    font-size: 80%;
    order: 2;
    padding: 1rem;
    width: 20%;
}

aside > section > article{
    border-top: dotted white 0.1rem;
    margin-top: 1rem;
    padding-top: 1rem;
}

aside h2{
    margin-top: 1rem;
}

.related{
    background: #185B7F;
    -webkit-box-shadow: inset 0 0 15px #1D3042;
    -moz-box-shadow: inset 0 0 15px #1D3042;
    box-shadow: inset 0 0 15px #1D3042;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    font-size: 80%;
    justify-content:space-around;
    margin-left: 20%;
    order: 3;
    width: 100%;
}

.related > h2{
    background: #134965;
    border-bottom: 2px dotted #fff;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

.related > article{
    padding: 1rem;
    width: 33.3333333%;
}

.related > article:nth-child(odd){
    background: #134965;
}

dt{
    border-bottom: 1px dotted #fff;
    margin-top: 2rem;
}

#videoSize{
    display: block;
    margin: auto;
    max-width: 100%;
}

a[href$=".pdf"]:before{
    content: url(../img/acro.gif);
}

a[href$=".vcf"]:before{
    content: url(../img/vcard.png);
}

a[href$=".jpg"]:before{
    content: url(../img/jpg.png);
}

.removeStyle{
    display: none;
}

#notNow{
    display: block;
}

#changeMind{
    margin-left: 48%;
}

.hideButton{
    display: none;
}

/*-------- Footer + Flexbox --------*/

body > footer{
    background: #0C2D40;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 20%;
    order: 4;
    width: 100%;
}

#sitemap > h2{
    text-align: center;
}

#sitemap > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#sitemap > ul > li > a, #sitemap > ul > li > ul > li > a{
    opacity: 0.6;
}

#sitemap > ul > li > a:hover, #sitemap > ul > li > ul > li > a:hover{
    opacity: 1;
}

#contact, #feedback, #search, #about{
    border-bottom: dotted white 0.2rem;
    margin: 1rem auto 1rem auto;
    padding: 1rem;
    width: 50%;
}

#feedback{
    order: 1;
}

#search{
    order: 2;
}

#about{
    order: 3;
}

#contact{
    order: 3;
}

#sitemap{
    margin: 1rem auto 1rem auto;
    order: 4;
    padding: 1rem;
    width: 90%;
}

#credits{
    margin-top: 2rem;
    order: 6;
    padding: 1rem;
    text-align: center;
    width: 90%;
}

a[href="#feedback"]{ /*Attribute selector*/
    color: #DBB34D;
}


/*--------Media Queries--------*/

/*--------Breakpoint Tablet Size--------*/
@media only screen and (max-width: 1024px){
    html{
        font-size: 1.1em;
    }

    body > header{
        position: relative;
        width: 100%;
    }

    #placeHolder{
        display: none;
    }

    body > header > p:nth-child(2){
        display: none;
    }

    body > header > nav > ul > li{
        width: 11em;
    }

    body > header > nav > ul > li > a{
        opacity: 1;
    }

    .headerImage{
        max-width: 40%;
    }

     .to-profile{
        width: 50%;
    }

    body > header > form{
        width: 50%;
    }

    body > main{
        width: 70%;
    }

    main form{
        border-radius: 0;
        margin: 0;
        width: 100%;
    }

    aside{
        padding: 1rem;
        width: 30%;
    }

    .related{
        justify-content: flex-start;
        margin: 0;
    }

    .related > article{
        width: 50%;
    }

    body > footer{
        margin: 0;
    }

    #sitemap > ul > li > a, #sitemap > ul > li > ul > li > a{
        opacity: 1;
    }
}



/*--------Breakpoint Smartphone Size--------*/
@media only screen and (max-width: 667px){
    html{
        font-size: 1em;
    }

    headerImage{
        max-width: 20em;
    }

    body > header{
        width: 100%;
    }

    body > header > form{
        margin: 1rem auto 1rem 30%;
        width: auto;
    }

    body > header > nav{
        width: 100%;
    }

    body > header > nav > ul > li{
        width: 100%;
    }

    body > header > h1, body > header > p{
        display: none;
    }

    body > main, body > aside, .related{
        width: 100%;
    }

    body > main > article > section > img{
        margin: auto;
    }

    .related > article{
        margin-bottom: 2rem;
        width: 100%;
    }

    #feedback, #about, #search{
        display: none;
    }

    #contact, #sitemap{
        width: 100%;
    }

    #sitemap > ul{
        justify-content: space-between;
    }
}





















